[submodule "Ro-Repo"]
	path = Ro-Repo
	url = https://github.com/Project-Ro-ASD/Ro-Repo.git
	branch = main
[submodule "ro-theme"]
	path = ro-theme
	url = https://github.com/Project-Ro-ASD/ro-theme.git
	branch = main
[submodule "Ro-Kernel-Experimental"]
	path = Ro-Kernel-Experimental
	url = https://github.com/Project-Ro-ASD/Ro-Kernel-Experimental.git
	branch = main
[submodule "ro-Installer"]
	path = ro-Installer
	url = https://github.com/Project-Ro-ASD/ro-Installer.git
	branch = main
[submodule "Ro-Kernel-Stable"]
	path = Ro-Kernel-Stable
	url = https://github.com/Project-Ro-ASD/Ro-Kernel-Stable.git
	branch = main
